/// Couleur primaire
/// @group colors
/// @type color
$primary: #ee1010;

/// Couleur primaire
/// @group colors
$secondary: #e7f00d;

/// Couleur primaire
/// @group colors
/// @type color
$tertiary: #096a29;
